@page
@model Ecg.UI.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Giriş Yap</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page">

    <div id="loginapp" name="loginapp" class="login-box">
      
            <div class="login-logo">
                <a href="~/index2.html"><b>EKG</b> Yönetim Portalı</a>
            </div>
            <!-- /.login-logo -->

            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Giriş Yap</p>

                    <p v-if="loginModel.error==true" class="text-danger">Kullanıcı adı veya şifre hatalı</p>

                    <div class="input-group mb-3">
                        <input required type="email" class="form-control" v-model="loginModel.Email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="password" class="form-control" v-model="loginModel.Password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button @@click="login" @@keypress.enter="login"  class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>

                        <!-- /.col -->
                    </div>
                    <!-- /.social-auth-links -->
                    @*<p class="mb-1">
                            <a href="forgot-password.html">I forgot my password</a>
                        </p>*@

                </div>
                <!-- /.login-card-body -->
            </div>

        
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

    <script src="~/lib/vue/vue.min.js"></script>
    <script src="~/lib/axios/axios.min.js"></script>

    <script src="~/js/auth/login.js"></script>

</body>
   
</html>
